//
//  EPaperNFCDemo.xcconfig
//  EPaperNFCDemo
//
//  Created by Yoshimasa Niwa on 2/16/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// Default configuration for signing, can be override by the local xcconfig file.
PRODUCT_BUNDLE_IDENTIFIER = at.niw.EPaperNFCDemo
DEVELOPMENT_TEAM =
PROVISIONING_PROFILE_SPECIFIER =

// Place this file in `Configurations` directory and override configurations.
// This file is not committed in Git repository.
#include? "EPaperNFCDemo-local.xcconfig"
